<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forgot Password Module</title>

</head>

<body>

    <div class="min-vh-100 d-flex justify-content-center align-items-center common-container">

        <div class="container w-50" *ngIf="!showOtpForm">

            <h2 class="m-4 text-center">Verify Email</h2>

            <form  #userForgotPasswordEmailForm="ngForm" (ngSubmit)="submitEmailForm()">

                

               <!-- alertBox -->

        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorFromDatabase">

            <strong>{{errorFromDatabase}}</strong>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">

              <span aria-hidden="true">&times;</span>

            </button>

          </div>  <!-- alert box finish -->

               

                

                <div class="form-group">

                    <label for="email">Email Id</label>

                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required #emailInput="ngModel" [disabled]="otpSendingSpinner && errorFromDatabase==''" email [(ngModel)]="userForgotPasswordEmail.emailId" placeholder="Enter your email id">

                    <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">

                        <div *ngIf="emailInput.hasError('required')">

                            <span class="text-danger">Email is required.</span>

                          </div>

                          <div *ngIf="emailInput.hasError('email')">

                            <span class="text-danger"> Please enter a valid email address.</span>

                          </div>

                    </div>

               </div>

                

                <div class="text-center mb-2">

            <input type="submit" class="btn btn-primary" value="Submit" [disabled]="userForgotPasswordEmailForm.invalid || (otpSendingSpinner && errorFromDatabase=='')">

          </div>

 

          <div class="text-center mt-2 mb-3" *ngIf="otpSendingSpinner && errorFromDatabase==''">

            <div class="spinner-border text-primary text-center" role="status">

            </div>  

            <span>sending OTP....</span>

           </div>

            </form>

            

        </div>

       

        <!-- OTP Form For verify email in forgot password module -->

        <div class="container w-25 text-center otp-class p-5" *ngIf="showOtpForm && !showConfirmPasswordFrom">

 

            <!-- error alert message -->

            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">

                <strong>Sorry!</strong> {{errorMessage}}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                  <span aria-hidden="true">&times;</span>

                </button>

              </div>

        

            <label for="otp"><h2>Enter OTP</h2></label>

            <h6 class="text-success">Check your email for the OTP</h6>

            <div>

            <form (ngSubmit)="submitOtpForm()">

                <div class="form-group">

                  <input type="number" class="form-control" id="otp" aria-describedby="emailHelp" name="otp" [(ngModel)]="userTypedOtp" placeholder="Enter your otp here" inputmode="numeric">

                </div>

                <div class="text-center mb-2">

                <input type="submit" class="btn btn-primary" value="Submit">

            </div>

            

              </form>

              </div>

        </div>

 

        <!-- Passord and confirm Password Form -->

 

        <div class="container w-25 text-center p-5" *ngIf="showConfirmPasswordFrom">

        

            <h2 class="text-center">Reset Password Form</h2>

            <div>

            <form #resetForm="ngForm" (ngSubmit)="passwordSubmit()">

                <div class="form-group">

                    <label for="password">Password</label>

                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel" required [(ngModel)]="userResetPassword.password" placeholder="Enter your Password" minlength="8">

                    <div *ngIf="!isPasswordValid() && passwordInput.touched">

                        <small class="text-danger"> Password is required and must contain at least one uppercase letter, one lowercase letter, one number, and one special character.</small>

                      </div>

                </div>

                <div class="form-group">

                    <label for="cpassword">Confirm Password</label>

                    <input type="password" class="form-control" id="cpassword" name="cpassword" [(ngModel)]="userResetPassword.cpassword" required #cpasswordInput="ngModel" placeholder="Enter your Password again">

                    <div *ngIf="cpasswordInput.invalid && (cpasswordInput.dirty || cpasswordInput.touched)">

                        <div *ngIf="cpasswordInput.hasError('required')">

                            <small class="text-danger">Confirm Password is required.</small>

                        </div>

                     </div>

                    

                    <div *ngIf="passwordNotMatchMessage">

                        <small class="text-danger"> Password should be matched.</small>

                      </div>

                </div>

                <div class="text-center mb-2">

                <input type="submit" class="btn btn-success" value="Submit" [disabled]="resetForm.invalid">

            </div>

            

              </form>

              </div>

        </div>

 

        </div>

</body>

</html>

 
