<div class="container-fluid g-0 " style="padding-left: 0%;">
  <app-navbar (sideNavToggled)="sideNavStatus=$event;"></app-navbar>
  <main>
      <app-sidebar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-sidebar-open':sideNavStatus}"></app-sidebar>
      <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideNavStatus}"
          style="padding: 0% !important;">

<div class="container" class="text-center" style="margin-top: 10px;">

    <div class="text-centre" style="width: 18rem;" class="card border-secondary mb-3 mx-auto">
  
      <div class="card-body"></div>
  
      <h1 class="text-center" class="card-header" class="badge badge-light" for="paymentType" mat-raised-button>
  
        BillPayments</h1><br>
  
      <select id="paymentType" [(ngModel)]="typeOfVendor" (ngModelchange)="changeVendor()" class="form-control"
  
        style="width: 100%;"> <!-- Adjust the width as needed -->
  
        <option value="" disabled selected>Select your BillPayments</option> <!-- Placeholder -->
  
   
  
        <option value="DTH" id="DTH">DTH</option>
  
        <option value="ElectricityBill" id="ElectricityBill">ElectricityBill</option>
  
      </select>
  
      <br>
  
      <div class="text-center">
  
        <input class="center" type="button" value="Submit" class="btn btn-primary" style="width: 8rem;"
  
          (click)="getVendorsByType(typeOfVendor)" style="width: 8rem; margin-bottom: 10px;"><br>
  
      </div>
  
    </div>
  
   
  
  </div>
  
  <div class="card mx-auto" style="width: 36rem;" *ngIf="billPayments.length > 0">
  
    <div class="text-center" class="card bg-light mb-3">
  
      <h1 class="card-header text-center">All {{title}} Vendors</h1>
  
    </div>
  
    <br>
  
    <!-- Add a search input -->
  
   
  
    <table class="table">
  
      <tbody>
  
        <tr *ngFor="let vendor of vendors">
  
          <!-- <td  class="text-center"><a class="text-center" routerLink="dth-bill"   *ngIf="title==='DTH'"(click)="payDTHAmount(vendor)">{{vendor}}</a></td> -->
  
   
  
          <td class="text-center"><a  style= " padding-left: 45%;" class="text-center" *ngIf="title==='DTH'" (click)="payDTHAmount(vendor)">{{vendor}}</a></td>
  
          <!-- <td  class="text-center"><a *ngIf="title==='ElectricityBill'"  (click)="payElectricityAmount(vendor)">{{vendor}}</td> -->
  
          <td class="text-center"><a  class="text-center" routerLink="electricity-bill"  *ngIf="title==='ElectricityBill'" (click)="payElectricityAmount(vendor)">{{vendor}}</a> </td>
  
   
  
   
  
        </tr>
  
      </tbody>
  
    </table>
  
  </div>

</div>
</main>
</div>